.ant-switch {
  min-width: 72px;
  height: 38px;
  line-height: 38px;
  &::after {
    top: 2px;
    left: 2px;
    height: 32px;
    width: 32px;
  }
}
.ant-switch-checked {
  &::after {
    left: 100%;
    margin-left: -1px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .ant-switch-inner {
    margin-right: 38px;
    margin-left: 6px;
  }
}
.ant-switch-inner {
  margin-left: 38px;
}