.f-12 {
  font-size: 12px;
}
.f-13 {
  font-size: 13px;
}
.f-14 {
  font-size: 14px;
}
.f-15 {
  font-size: 15px;
}
.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}
.f-20 {
  font-size: 20px;
}
.f-24 {
  font-size: 24px;
}

.t-bold {
  font-weight: bold;
}

.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}

.t-primary {
  color: @primary-color;
}
.t-dark {
  color: #000;
}
.t-grey {
  color: @text-color-secondary;
}
.t-trunc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
